{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<h3>{% trans %}Clients{% endtrans %}</h3>

<table class="table table-condensed table-bordered table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Status{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>

    {# table body #}
    {% for client in pagination %}
    <tr onclick="document.location.href='{{ path('editClient', {id: client.id}) }}'">
        <td><a href="{{ path('editClient', {id: client.id}) }}">{{ client.id }}</a></td>
        <td>{{ client.name }}</td>
        <td>{% if client.isActive %}{% trans %}Active{% endtrans%}{% else%}{% trans %}Inactive{% endtrans%}{% endif %}</td>
        <td>
            <form action="{{ path('editClient', {id: client.id}) }}" style="display:inline">
                <input class="btn" type="submit" value="{% trans %}Edit{% endtrans %}" />
            </form>
            <form action="{{ path('deleteClient', {id: client.id}) }}" method="POST" style="display:inline">
                <input class="btn" type="submit" value="{% trans %}Delete{% endtrans %}" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<button class="btn" type="button" onclick="document.location.href='{{ path('editClient', {id: 'new'}) }}'">{% trans %}New{% endtrans %}</button>

{# display navigation #}
<div class="navigation">
    {{ pagination.render()|raw }}
</div>


{% endblock %}
