{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<form class="form-horizontal" action="{{ path('saveClient', {id: form.vars.value.id}) }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Edit client{% endtrans %}</legend>
    <div class="row-fluid">
        <div class="span6">
{% for flashMessage in app.session.flashbag.get('client') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
{% endfor %}
{% form_theme form 'BinovoTknikaTknikaBackupsBundle:Default:fields.html.twig' %}
            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            {{ form_row(form.quota) }}
            <div class="control-group">
                <label class="control-label">{% trans %}Disk usage{% endtrans %}</label>
                <div class="controls"><input type="text" class="span10" disabled="disabled" value="{{ (form.vars.value.diskUsage / 1024) | number_format(0)  }} MB" /></div>
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.isActive) }}
            <div class="controls"><div class="input-append"><input class="input-large" id="Client_preScriptCurrent" type="text" disabled="true" value="{{form.vars.value.preScript}}" /><a id="Client_preScriptDelete" class="btn">{% trans %}Delete{% endtrans %}</a></div></div>
            {{ form_row(form.preScriptFile) }}
            <script type="text/javascript">
dojo.addOnLoad(function() {
    dojo.connect(dojo.byId('Client_preScriptFile'),
                 'onchange',
                 function() {
                     dojo.byId('Client_preScriptCurrent').value = dojo.byId('Client_preScriptFile').value;
                     dojo.byId('Client_preScript').value = dojo.byId('Client_preScriptFile').value;
                     if ('' !== dojo.byId('Client_preScriptFile').value) {
                         dojo.byId('Client_preScriptDelete').disabled = false;
                     }
                 });
    dojo.connect(dojo.byId('Client_preScriptDelete'),
                 'onclick',
                 function() {
                     dojo.byId('Client_preScript').value = '';
                     dojo.byId('Client_preScriptFile').value = '';
                     dojo.byId('visual_Client_preScriptFile').value = '';
                     dojo.byId('Client_preScriptCurrent').value = '{% trans %}No script{% endtrans %}';
                     this.disabled = true;
                 });
});
            </script>
            {{ form_row(form.preScript) }}
            <div class="controls"><div class="input-append"><input class="input-large" id="Client_postScriptCurrent" type="text" disabled="true" value="{{form.vars.value.postScript}}" /><a id="Client_postScriptDelete" class="btn">{% trans %}Delete{% endtrans %}</a></div></div>
            {{ form_row(form.postScriptFile) }}
            <script type="text/javascript">
dojo.addOnLoad(function() {
    dojo.connect(dojo.byId('Client_postScriptFile'),
                 'onchange',
                 function() {
                     dojo.byId('Client_postScriptCurrent').value = dojo.byId('Client_postScriptFile').value;
                     dojo.byId('Client_postScript').value = dojo.byId('Client_postScriptFile').value;
                     if ('' !== dojo.byId('Client_postScriptFile').value) {
                         dojo.byId('Client_postScriptDelete').disabled = false;
                     }
                 });
    dojo.connect(dojo.byId('Client_postScriptDelete'),
                 'onclick',
                 function() {
                     dojo.byId('Client_postScript').value = '';
                     dojo.byId('Client_postScriptFile').value = '';
                     dojo.byId('visual_Client_postScriptFile').value = '';
                     dojo.byId('Client_postScriptCurrent').value = '{% trans %}No script{% endtrans %}';
                     this.disabled = true;
                 });
});
            </script>
            {{ form_row(form.postScript) }}
        </div>
        <div class="span6">
            {% trans %}client_help{% endtrans %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <legend>{% trans %}Jobs{% endtrans %}</legend>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
        {% for job in form.jobs %}
            <div id="job-{{job.vars.value.id}}">
                <div class="controls">
                    {{ form_widget(job.name, {'attr': {'class': 'input-medium'}}) }}
                    {{ form_widget(job.policy) }}
                    {{ form_widget(job.isActive) }}{% trans %}active{% endtrans %}
                </div>
                <div class="controls">
                    {{ form_widget(job.path, {'attr': {'class': 'span10'}}) }}
                </div>
                <div class="controls">
                    {{ form_widget(job.description, {'attr': {'class': 'span10'}}) }}
                </div>
                <div class="controls">
                    <a href="{{path('showJobBackup', {idClient: job.vars.value.client.id, idJob: job.vars.value.id, action: 'view'}) }}">{% trans %}Backups{% endtrans %} ({{ (job.vars.value.diskUsage / 1024) | number_format(0)  }} MB)</a><br />
                    {{job.vars.value.logEntry.dateTime.format('Y-m-d H:i:s')|default('')}} {{job.vars.value.logEntry.levelName|default('')}} {{ job.vars.value.logEntry.message|default('')|slice(0, 50) }}{% if job.vars.value.logEntry.message|default('')|length > 50 %}[...]{% endif %}

                </div>
                <div class="controls control-row">
                    <input class="btn" type="button" value="{% trans %}Delete{% endtrans %}" onclick="dojo.query('#job-{{job.vars.value.id}}').remove();"/>
                    <input class="btn" type="button" value="{% trans %}Edit{% endtrans %}" onclick="document.location.href='{{ path('editJob', {idJob: job.vars.value.id, idClient: form.vars.value.id}) }}'"/>
                </div>
                <br/>
            </div>
        {% else %}
            <div class="controls">
                {% trans %}There are no jobs{% endtrans %}
            </div>
        {% endfor %}
            <div class="controls control-row">
                <input class="btn" {% if not form.vars.value.id %}disabled="true" {% endif %}type="button" value="{% trans %}Add job{% endtrans %}" onclick="document.location.href='{{ path('editJob', {idJob: 'new', idClient: form.vars.value.id}) }}'"/>
            </div>
            {{ form_widget(form._token) }}
            <input class="btn" type="submit" value="{% trans %}Save{% endtrans %}"/>
        </div>
        <div class="span6">
            {% trans %}client_job_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
