{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<form class="form-horizontal" action="{{ path('saveClient', {id: form.vars.value.id}) }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Edit client{% endtrans %}</legend>
{% form_theme form 'BinovoTknikaTknikaBackupsBundle:Default:fields.html.twig' %}
    <div>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.url) }}
    {{ form_row(form.preScript) }}
    {{ form_row(form.postScript) }}
    </div>
    <legend>{% trans %}Jobs{% endtrans %}</legend>
    <div>
        {% for job in form.jobs %}
        <div id="job-{{job.vars.value.id}}">
            <div class="controls control-row">
                {{ form_widget(job.name, {'attr': {'class': 'input-medium'}}) }}
                {{ form_widget(job.url, {'attr': {'class': 'input-xlarge'}}) }}
            </div>
            <div class="controls">
                {{ form_widget(job.description, {'attr': {'class': 'input-xxlarge'}}) }}
            </div>
            <div class="controls control-row">
                <input class="btn" type="button" value="{% trans %}Delete{% endtrans %}" onclick="dojo.query('#job-{{job.vars.value.id}}').remove();"/>
                <input class="btn" type="button" value="{% trans %}Edit{% endtrans %}" onclick="document.location.href='{{ path('editJob', {idJob: job.vars.value.id, idClient: form.vars.value.id}) }}'"/>
            </div>
            <br/>
        </div>
        {% else %}
        <div class="controls">
            {% trans %}There are no jobs{% endtrans %}
        </div>
        {% endfor %}
        <div class="controls control-row">
            <input class="btn" {% if not form.vars.value.id %}disabled="true" {% endif %}type="button" value="{% trans %}Add job{% endtrans %}" onclick="document.location.href='{{ path('editJob', {idJob: 'new', idClient: form.vars.value.id}) }}'"/>
        </div>
        {{ form_widget(form._token) }}
    </div>
    <input class="btn" type="submit" value="{% trans %}Save{% endtrans %}"/>
</form>

{% endblock %}
