{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<p>
    <h3>
    {{ job.client.name ~ '/' ~ job.name ~ '/' ~ path }}
    </h3>
    <a href="{{ path('editClient', {id: job.client.id}) }}"><b>{% trans %}Back to client{% endtrans %}</b></a><br />
    <a href="{{ path('editJob',    {idClient: job.client.id, idJob: job.id}) }}"><b>{% trans %}Back to job{% endtrans %}</b></a>
</p>

<p>
    {% for file in content %}
    <a href="{{ path('showJobBackup', {idClient: job.client.id, idJob: job.id, path: path ~ '/' ~ file, action: 'view'}) }}">{{ file }}</a>
    {% if file != ".." and file != "." %} <a href="{{ path('showJobBackup', {idClient: job.client.id, idJob: job.id, path: path ~ '/' ~ file, action: 'download'}) }}"> <b>{% trans %}Download as .tgz{% endtrans %}</b></a> {% endif %}<br />
    {% endfor %}
</p>

{% endblock %}
