{#
 Customizations for
 vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form/
#}

{% block form_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="controls">
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type == 'file' %}
    <input type="file" style="display:none" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <div class="input-append">
        <input class="input-large" id="visual_{{id}}" type="text">
        <a class="btn" onclick="dojo.byId('{{id}}').click();">Browse</a>
    </div>

    <script type="text/javascript">
        dojo.connect(dojo.byId('{{id}}'), 'onchange',
                     function() {
                         dojo.byId('visual_{{id}}').value = dojo.byId('{{id}}').value;
                     });
        dojo.connect(dojo.byId('visual_{{id}}'), 'onchange',
                     function(){
                         dojo.byId('{{id}}').value = dojo.byId('visual_{{id}}').value;
                     });
    </script>
    {% else %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

