{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}

{% block body %}

<form class="form-horizontal" action="{{ path('saveJob', {idJob: form.vars.value.id, idClient: form.vars.value.client.id}) }}" method="post" {{ form_enctype(form) }}>
    <legend>Edit Job</legend>
{% form_theme form 'BinovoTknikaTknikaBackupsBundle:Default:fields.html.twig' %}
    <div>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.url) }}
    {{ form_row(form.preScript) }}
    {{ form_row(form.postScript) }}
    {{ form_rest(form) }}
    </div>
    <input class="btn" type="submit" value="Save"/>
</form>

{% endblock %}
