{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<h3>{% trans %}Policies{% endtrans %}</h3>

<table class="table table-condensed table-bordered table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>

    {# table body #}
    {% for policy in pagination %}
    <tr onclick="document.location.href='{{ path('editPolicy', {id: policy.id}) }}'">
        <td><a href="{{ path('editPolicy', {id: policy.id}) }}">{{ policy.id }}</a></td>
        <td>{{ policy.name }}</td>
        <td>
            <form action="{{ path('editPolicy', {id: policy.id}) }}" style="display:inline">
                <input class="btn" type="submit" value="{% trans %}Edit{% endtrans %}" />
            </form>
            <form action="{{ path('deletePolicy', {id: policy.id}) }}" method="POST" style="display:inline">
                <input class="btn" type="submit" value="{% trans %}Delete{% endtrans %}" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<button class="btn" type="button" onclick="document.location.href='{{ path('editPolicy', {id: 'new'}) }}'">{% trans %}New{% endtrans %}</button>

{# display navigation #}
<div class="navigation">
    {{ pagination.render()|raw }}
</div>


{% endblock %}
