{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<h3>{% trans %}Users{% endtrans %}</h3>

<table class="table table-condensed table-bordered table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Username{% endtrans %}</th>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Active{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>

    {# table body #}
    {% for user in pagination %}
    <tr onclick="document.location.href='{{ path('editUser', {id: user.id}) }}'">
        <td><a href="{{ path('editUser', {id: user.id}) }}">{{ user.id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{% if user.isActive %}{% trans %}Yes{% endtrans%}{% else%}{% trans %}No{% endtrans%}{% endif %}</td>
        <td>{{ user.email }}</td>
        <td>
            <form action="{{ path('editUser', {id: user.id}) }}" style="display:inline">
                <input class="btn" type="submit" value="{% trans %}Edit{% endtrans %}" />
            </form>
            <form action="{{ path('deleteUser', {id: user.id}) }}" method="POST" style="display:inline">
                <input class="btn" type="submit" value="{% trans %}Delete{% endtrans %}" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<button class="btn" type="button" onclick="document.location.href='{{ path('editUser', {id: 'new'}) }}'">{% trans %}New{% endtrans %}</button>

{# display navigation #}
<div class="navigation">
    {{ pagination.render()|raw }}
</div>


{% endblock %}
