{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

    <p>
        <h3>{{ filePath ~ '/' }}</h3>
        <a href="{{ path('showJobTahoeBackup', {action: 'view' , file: 'elkarbackup:Backups'}) }}">
            <b>{% trans %}Back to root{% endtrans %}</b>
        </a>
    </p>
    <p>
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Size{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('showJobTahoeBackup', {action: 'view' , file: fatherDir}) }}">
                       <span class="glyphicon glyphicon-folder-open"></span>
                       <b>&nbsp;..</b>
                    </a>
                </td>
                <td><b>&nbsp;</b></td>
                <td><b>&nbsp;</b></td>
            </tr>
            {% for file in content %}
    		<tr>
    		    <td>
                {% if file.2 %}
    		        <a href="{{ path('showJobTahoeBackup', {action: 'view' , file: filePath ~ '/' ~ file.0}) }}">
    			        <span class="glyphicon glyphicon-folder-open"></span>
                        <b>&nbsp;{{ file.0 }}</b>
                    </a>
                {% else %}
                    <span class="glyphicon glyphicon-file"></span>&nbsp;{{ file.0 }}
                {% endif %}
    		    </td>
                <td>
                    {{ file.1 }}
                </td>
    		    <td>
                    {% if file.2 %}
                        <a href="{{ path('showJobTahoeBackup', {action: 'download' , file: filePath ~ '/' ~ file.0}) }}">
                            <b>{% trans %}Download as .tgz{% endtrans %}</b>
                        </a>
                        {% if isZipInstalled %}
                            &nbsp;|&nbsp;
                            <a href="{{ path('showJobTahoeBackup', {action: 'downloadzip' , file: filePath ~ '/' ~ file.0}) }}">
                                <b>{% trans %}Download as .zip{% endtrans %}</b>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('showJobTahoeBackup', {action: 'download' , file: filePath ~ '/' ~ file.0}) }}">
                            <b>{% trans %}Download{% endtrans %}</b>
                        </a>
                    {% endif %}
    		    </td>
    		</tr>
            {% endfor %}
        </table>
    </p>
{% endblock %}
