{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/edit-authorized-keys.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<form class="form-horizontal" action="{{ path('configureRepositoryBackupScript') }}" method="post" {{ form_enctype(form) }}>
    <h3>{% trans %}Repository backups script{% endtrans %}</h3>
    {% form_theme form 'BinovoElkarBackupBundle:Default:fields.html.twig' %}
    <div class="row">
        <div class="col-md-6">
            <div class="control-group">
                <label class="control-label col-xs-12 col-md-3">{% trans %}Backup script{% endtrans %}</label>
                <div class="controls"><input class="btn btn-default" onclick="window.location='{{ path('getRepositoryBackupScript') }}'" type="button" value="{% trans %}Download{% endtrans %}" /></div>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<form class="form-horizontal" action="{{ path('configureRepositoryBackupScript') }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Authorized keys{% endtrans %}</legend>
    <div class="row">
        <div id="public-keys" class="col-md-6">
            {% for flashMessage in app.session.flashbag.get('backupScriptConfig') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
            {% endfor %}
{% for publicKey in form.publicKeys %}
            <div class="control-group">
                <label class="control-label">{% trans %}Comment / Key{% endtrans %}</label>
                <div class="controls">
                    {{ form_widget(publicKey.comment) }} {{ form_widget(publicKey.publicKey) }} <input data-command="delete-key" class="btn" type="button" value="{% trans %}Delete{% endtrans %}"/>
                </div>
            </div>
{% endfor %}
            <div id="no-keys-defined" class="controls"{% if form.publicKeys|length > 0 %} style="display:none"{% endif %}>
                {% trans %}No keys defined{% endtrans %}
            </div>
            <div id="add-key" class="controls">
                <br />
                <button data-command="add-key" class="btn btn-default btn-pull-right" type="button" onclick=""><span class="glyphicon glyphicon-plus"></span> {% trans %}Add key{% endtrans %}</button>
            </div>
            <div class="form-group pull-right">
              <button class="btn btn-default" type="submit">{% trans %}Save{% endtrans %}</button>
            </div>
        </div>
        <div class="col-md-6">
            {% trans %}backupscriptconfig_help{% endtrans %}
        </div>
    </div>
</form>
<div style="display:none" id="prototype">
    <div class="control-group">
        <label class="control-label">{% trans %}Comment / Key{% endtrans %}</label>
        <div style="height:30px" class="controls">
            {{ form_widget(form.publicKeys.vars.prototype.comment) }} {{ form_widget(form.publicKeys.vars.prototype.publicKey) }} <input data-command="delete-key" class="btn-default btn-sx" type="button" value="{% trans %}Delete{% endtrans %}">
        </div>
    </div>
</div>

{% endblock %}
