{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
<!DOCTYPE html>
{% trans_default_domain 'BinovoElkarBackup' %}
<html>
    <head>
        <title>{% block title %}Backup server{% endblock %}</title>
        <!-- Bootstrap -->
        {% stylesheets '@BinovoElkarBackupBundle/Resources/public/css/bootstrap.min.css' '@BinovoElkarBackupBundle/Resources/public/css/elkarbackup.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('js/dojo-release-1.8.1/dijit/themes/claro/claro.css') }}" media="screen" />

        {% block scripts %}
        <script type="text/javascript" src="{{ asset('js/dojo-release-1.8.1/dojo/dojo.js') }}" data-dojo-config="async: true"></script>
            {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/base.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </head>
    <body class="claro">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
{% block header %}
{% endblock %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 dijitMenuBar dijitMenuPassive" id="menuplaceholder"></div>
                <div class="span12" id="menu" style="display:none">
{% block menu %}
{{ knp_menu_render('BinovoElkarBackupBundle:Builder:mainMenu') }}
{% endblock %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
{% block body %}
{% endblock %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
{% block footer %}
{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
