{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/show-clients.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="">

        <h3>{% trans %}Disk usage{% endtrans %}</h3>

        <div class="progress">
        {% if fsDiskUsage <= 20 %}
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
            </div>
        {% elseif fsDiskUsage <= 60 %}
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
          </div>
        {% elseif fsDiskUsage <= 90 %}
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
          </div>
        {% elseif fsDiskUsage > 90 %}
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
          </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="jobs-container">

<h3 id="legend">{% trans %}Jobs{% endtrans %}</h3>

<div class="pull-right" style="padding-bottom: 10px;">
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-default" onclick="document.location.href='{{ path('editClient', {id: 'new'}) }}'">
      <span class="glyphicon glyphicon-plus"></span> {% trans %}Add client{% endtrans %}
    </button>
  <button class="btn btn-default" action="#" onclick="document.location.href='{{ path('sortJobs') }}'">{% trans %}Sort jobs{% endtrans %}</button>

  <div class="btn-group" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#" eb-action="runSelected">{% trans %}Run{% endtrans %}</a></li>
      <li class="disabled"><a href="#">{% trans %}Abort{% endtrans %}</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#" eb-action="deleteSelected" >{% trans %}Delete{% endtrans %}</a></li>
    </ul>
  </div>
  </div>
</div>


{% for flashMessage in app.session.flashbag.get('clients') %}
    <div class="controls help-block">
        {{ flashMessage }}
    </div>
{% endfor %}
<table class="table table-condensed table-hover">
<tr>
  {# sorting of properties based on query components #}
  <th><input id="checkAll" class="select-toggle-check" type="checkbox"</input></th>
  <th></th>
  <th>{% trans %}Id{% endtrans %}</th>
  <th>{% trans %}Name{% endtrans %}</th>
  <th style="text-align: center">{% trans %}Disk usage{% endtrans %}</th>
  <th>{% trans %}Last log entry{% endtrans %}</th>
  <th>{% trans %}Status{% endtrans %}</th>
  <th>{% trans %}Actions{% endtrans %}</th>
</tr>

    {# table body #}
    {% for client in pagination %}
<tr id="client-{{client.id}}" class="client-row client-{{client.id}} {% if client.isActive == false %}disabled{% endif %}">
  <td><input class="select-toggle-check" type="checkbox" value="client{{client.id}}"</input></td>
  <td><span class="client-icon"></span></td>
  <td class="vert-align id"><a href="{{ path('editClient', {id: client.id}) }}"> {{ client.id }}</a></td>
  <td class="vert-align name"><a href="{{ path('editClient', {id: client.id}) }}">{{ client.name }}</a></td>
  <td class="vert-align diskusage" style="text-align:center{% if client.quota > 0 and client.diskUsage / client.quota > warning_load_level %};color:red{% endif %}">{% if client.diskUsage / 1024 > 1024 %} {{ (client.diskUsage / 1024 / 1024 ) | number_format(1) }} GB{% else %} {{ (client.diskUsage / 1024) | number_format(0)}} MB{% endif %}{% if client.quota > 0 %} ({{ (client.diskUsage / client.quota * 100) | number_format(0)}}%){% endif %}</td>
  <td class="vert-align logentry {% if (client.logEntry.levelName)|default('') == 'ERROR'%}alert alert-danger{% endif %}"> <a href="logs?filter[gte][l.level]=0&filter[eq][l.source]=&filter[like][l.link]=%2Fclient%2F{{ client.id }}"> {{ client.logEntry.dateTime.format('Y-m-d H:i:s')|default('') }} {{ client.logEntry.message|default('')|slice(0, 50) }}{% if client.logEntry.message|default('')|length > 50 %}[...]{% endif %}</a></td>
  <td class="vert-align isactive" >{% if client.isActive %}{% trans %}Active{% endtrans%}{% else%}{% trans %}Inactive{% endtrans%}{% endif %}</td>
  <td class="actions vert-align">

	{% if client.isActive %}

    <div class="btn-group" role="group" aria-label="Actions">
        <button type="button" class="btn btn-default" href="#" eb-action="editClient" eb-path="{{ path('editClient', {id: client.id}) }}" eb-clientid="{{client.id}}">
          <span class="glyphicon glyphicon-edit"></span> <!--{% trans %}Edit client{% endtrans %}-->
        </button>
        <button type="button" class="btn btn-default" href="#" eb-action="addJob" eb-path="{{ path('editJob', {idJob: 'new', idClient: client.id}) }}" eb-clientid="{{client.id}}">
          <span class="glyphicon glyphicon-plus"></span> <!--{% trans %}Add job{% endtrans %}-->
        </button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
            {% trans %}More{% endtrans %}
            <span class="caret-right"></span>
          </button>
          <ul class="dropdown-menu dropright" aria-labelledby="btnGroupDrop1">
            <!--<li><a href="#">{% trans %}Copy SSH id{% endtrans %}</a></li>-->
            <li><a href="#">{% trans %}Test connection{% endtrans %}</a></li>
            <li><a href="#" eb-action="cloneClient" eb-path="{{ path('cloneClient', {idClient: client.id}) }}" eb-clientid="{{client.id}}">{% trans %}Clone client{% endtrans %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" eb-action="deleteClient" eb-path="{{ path('deleteClient', {id: client.id}) }}" eb-clientid="{{client.id}}" class="danger">{% trans %}Delete{% endtrans %}</a></li>
          </ul>
        </div>
    </div>

  {% endif %}
  </td>
</tr>


  {% for job in client.jobs %}
<tr id="job-{{job.id}}" class="job-row client-{{client.id}} job-{{job.id}} {% if (job.isActive == false) or (client.isActive == false) %}disabled{% endif %}">
  <td><input class="select-toggle-check" type="checkbox" value="job{{client.job}}"</input></td>
  <td><span class="glyphicon glyphicon-folder-open"></span></td>
  <td class="vert-align id"><a href="{{ path('editJob', {idClient: client.id, idJob:job.id}) }}">{{ client.id }}.{{ job.id }}</a></td>
  <td class="vert-align name"><a href="{{ path('editJob', {idClient: client.id, idJob:job.id}) }}">{{ client.name ~ "/" ~ job.name }}</a></td>
  <td class="vert-align diskusage" style="text-align:center;">{% if job.diskUsage / 1024 > 1024 %}{{ (job.diskUsage / 1024 / 1024) | number_format(1) }} GB{% else%} {{ (job.diskUsage / 1024) | number_format(0)}} MB{% endif %}</td>
  <td class="vert-align logentry {% if (job.logEntry.levelName)|default('') == 'ERROR'%}alert alert-danger{% elseif (job.logEntry.levelName)|default('') == 'WARNING'%}alert alert-warning{% endif %}"> <a href="logs?filter[gte][l.level]=0&filter[eq][l.source]=&filter[like][l.link]=%2Fclient%2F{{ client.id }}%2Fjob%2F{{ job.id }}"> {{ job.logEntry.dateTime.format('Y-m-d H:i:s')|default('') }} {{ job.logEntry.message|default('')|slice(0, 50) }}{% if job.logEntry.message|default('')|length > 50 %}[...]{% endif %}</a></td>
  <td class="vert-align isactive">{% if job.isActive %}{% trans %}Active{% endtrans%}{% else%}{% trans %}Inactive{% endtrans%}{% endif %}</td>
  <td class="vert-align actions">

    <div class="btn-group" role="group" aria-label="Actions">
        <button type="button" class="btn btn-default" href="#" eb-action="editJob" eb-path="{{ path('editJob', {idClient: client.id, idJob:job.id}) }}" eb-jobid="{{job.id}}">
          <span class="glyphicon glyphicon-edit"></span> <!--{% trans %}Edit job{% endtrans %}-->
        </button>
        <button type="button" class="btn btn-default {% if not job.hasBackups %}disabled{% endif %}" href="#" {% if job.hasBackups %}eb-action="showJobBackup"{% endif %} eb-path="{{ path('showJobBackup', {action: 'view', idClient: client.id, idJob:job.id}) }}" eb-jobid="{{job.id}}" id="btnRestore{{ client.id }}{{ job.id }}">
          <span class="glyphicon glyphicon-cloud-download"></span><!-- {% trans %}Restore{% endtrans %}-->
        </button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
            {% trans %}More{% endtrans %}
            <span class="caret-right"></span>
          </button>
          <ul class="dropdown-menu dropright" aria-labelledby="btnGroupDrop1">
            <li><a href="#" eb-action="runJob" eb-path="{{ path('runJob', {idJob: job.id, idClient: client.id}) }}" eb-jobid="{{job.id}}">{% trans %}Run now{% endtrans %}</a></li>
            <li clas="disabled"><a href="#">{% trans %}Abort job{% endtrans %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" eb-action="deleteJob" eb-path="{{ path('deleteJob', {idClient: client.id, idJob:job.id}) }}" eb-jobid="{{job.id}}" eb-clientid="{{client.id}}" class="danger">{% trans %}Delete{% endtrans %}</a></li>
          </ul>
        </div>
    </div>

  </td>
</tr>

  {% endfor %}
{% endfor %}
</table>


<div class="pull-right" style="padding-bottom: 10px;">
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-default" onclick="document.location.href='{{ path('editClient', {id: 'new'}) }}'">
      <span class="glyphicon glyphicon-plus"></span> {% trans %}Add client{% endtrans %}
    </button>
  <button class="btn btn-default" action="#" onclick="document.location.href='{{ path('sortJobs') }}'">{% trans %}Sort jobs{% endtrans %}</button>

  <div class="btn-group dropup" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">{% trans %}Run{% endtrans %}</a></li>
      <li class="disabled"><a href="#">{% trans %}Abort{% endtrans %}</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">{% trans %}Delete{% endtrans %}</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="navigation binovo-pagination">
    {{ knp_pagination_render(pagination)|raw }}
</div>
</div>
</div>

{% endblock %}
