{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/show-clients.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="jumbotron">
        
        <h3>{% trans %}Disk usage{% endtrans %}</h3>

        <div class="progress">
        {% if fsDiskUsage <= 20 %}
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
            </div>
        {% elseif fsDiskUsage <= 60 %}
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
          </div>
        {% elseif fsDiskUsage <= 90 %}
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
          </div>
        {% elseif fsDiskUsage > 90 %}
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ fsDiskUsage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fsDiskUsage }}%;">
            	{{ fsDiskUsage }}%
          </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">


<h3><img src="img/ico-client.svg" class="title-img" alt="" /> {% trans %}Clients{% endtrans %}<a href="{{ path('sortJobs') }}"><span class="glyphicon glyphicon-cog pull-right" title="{% trans %}Sort jobs{% endtrans %}"></span></a></h3>

{% for flashMessage in app.session.flashbag.get('clients') %}
    <div class="controls help-block">
        {{ flashMessage }}
    </div>
{% endfor %}
<table class="table table-condensed table-hover">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th style="text-align: center">{% trans %}Disk usage{% endtrans %}</th>
        <th>{% trans %}Last log entry{% endtrans %}</th>
        <th>{% trans %}Status{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>

    {# table body #}
    {% for client in pagination %}
<tr class="client-row {% if client.isActive == false %}disabled{% endif %}">
        <td class="vert-align" onclick="document.location.href='{{ path('editClient', {id: client.id}) }}'"><a href="{{ path('editClient', {id: client.id}) }}"><span class="client-icon"></span> {{ client.id }}</a></td>
        <td class="vert-align" onclick="document.location.href='{{ path('editClient', {id: client.id}) }}'"><a href="{{ path('editClient', {id: client.id}) }}">{{ client.name }}</a></td>
        <td class="vert-align" style="text-align:center{% if client.quota > 0 and client.diskUsage / client.quota > warning_load_level %};color:red{% endif %}">{% if client.diskUsage / 1024 > 1024 %} {{ (client.diskUsage / 1024 / 1024 ) | number_format(1) }} GB{% else %} {{ (client.diskUsage / 1024) | number_format(0)}} MB{% endif %}{% if client.quota > 0 %} ({{ (client.diskUsage / client.quota * 100) | number_format(0)}}%){% endif %}</td>
      <td class="vert-align" style="{% if (client.logEntry.levelName)|default('') == 'ERROR'%}color:red{% endif %}"> <a href="logs?filter[gte][l.level]=0&filter[eq][l.source]=&filter[like][l.link]=%2Fclient%2F{{ client.id }}"> {{ client.logEntry.dateTime.format('Y-m-d H:i:s')|default('') }} {{ client.logEntry.message|default('')|slice(0, 50) }}{% if client.logEntry.message|default('')|length > 50 %}[...]{% endif %}</a></td>
        <td class="vert-align" >{% if client.isActive %}{% trans %}Active{% endtrans%}{% else%}{% trans %}Inactive{% endtrans%}{% endif %}</td>
        <td class="actions vert-align">
            <form data-bnv-message="{% trans with {'%name%': client.name } %}Really delete client %name%? This will remove all related jobs and backups.{% endtrans %}" class="delete-client" action="{{ path('deleteClient', {id: client.id}) }}" method="POST" style="display:inline">
                <button class="btn btn-default btn-danger" type="submit" value=" {% trans %}Delete{% endtrans %}" /><span class="glyphicon glyphicon-trash"></span> {% trans %}Delete{% endtrans %}</button>
            </form>
	{% if client.isActive %}
                <button type="button" class="btn btn-elkarbackup"
                        onclick="document.location.href='{{ path('editJob', {idJob: 'new', idClient: client.id}) }}'">
                        <span class="glyphicon glyphicon-plus"></span> {% trans %}Add job{% endtrans %}
                    </button>
        {% endif %}
        </td>
    </tr>
        {% for job in client.jobs %}
    <tr class="job-row {% if job.isActive == false %}disabled{% endif %}">
        <td class="vert-align" onclick="document.location.href='{{ path('editJob', {idClient: client.id, idJob:job.id}) }}'"><a href="{{ path('editJob', {idClient: client.id, idJob:job.id}) }}"><span class="glyphicon glyphicon-folder-open"></span> {{ client.id }}.{{ job.id }}</a></td>
        <td class="vert-align" onclick="document.location.href='{{ path('editJob', {idClient: client.id, idJob:job.id}) }}'"><a href="{{ path('editJob', {idClient: client.id, idJob:job.id}) }}">{{ client.name ~ "/" ~ job.name }}</a></td>
        <td class="vert-align" style="text-align:center;">{% if job.diskUsage / 1024 > 1024 %}{{ (job.diskUsage / 1024 / 1024) | number_format(1) }} GB{% else%} {{ (job.diskUsage / 1024) | number_format(0)}} MB{% endif %}</td>
      <td class="vert-align {% if (job.logEntry.levelName)|default('') == 'ERROR'%}alert alert-danger{% endif %}"> <a href="logs?filter[gte][l.level]=0&filter[eq][l.source]=&filter[like][l.link]=%2Fclient%2F{{ client.id }}%2Fjob%2F{{ job.id }}"> {{ job.logEntry.dateTime.format('Y-m-d H:i:s')|default('') }} {{ job.logEntry.message|default('')|slice(0, 50) }}{% if job.logEntry.message|default('')|length > 50 %}[...]{% endif %}</a></td>
        <td class="vert-align">{% if job.isActive %}{% trans %}Active{% endtrans%}{% else%}{% trans %}Inactive{% endtrans%}{% endif %}</td>
        <td class="vert-align actions">
            <form data-bnv-message="{% trans with {'%name%': job.client.name ~ "/" ~ job.name} %}Really delete job %name%? This will remove all related backups.{% endtrans %}" class="delete-job" action="{{ path('deleteJob', {idClient: client.id, idJob:job.id}) }}" method="POST" style="display:inline">
		          <button class="btn btn-default btn-danger" type="submit" value=" {% trans %}Delete{% endtrans %}" /><span class="glyphicon glyphicon-trash"></span> {% trans %}Delete{% endtrans %}</button>
            </form>
            <form action="{{ path('showJobBackup', {action: 'view', idClient: client.id, idJob:job.id}) }}" style="display:inline">
          <button class="btn btn-elkarbackup {% if not job.hasBackups %}disabled{% endif %}" type="submit" value="{% trans %}Restore{% endtrans %}" /><span class="glyphicon glyphicon-cloud-download"></span> {% trans %}Restore{% endtrans %}</button>
            </form>
        </td>
    </tr>
        {% endfor %}
    {% endfor %}
</table>


<button type="button" class="btn pull-right btn-elkarbackup" onclick="document.location.href='{{ path('editClient', {id: 'new'}) }}'">
  <span class="glyphicon glyphicon-plus"></span> {% trans %}New{% endtrans %}
</button>

<div class="navigation">
    {{ pagination.render()|raw }}
</div>
</div>
</div>

{% endblock %}
