{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<p>
    <h3>
    {{ job.client.name ~ '/' ~ job.name ~ path }}
    </h3>

   <a href="{{ path('editClient', {id: job.client.id}) }}"><b>{% trans %}Back to client{% endtrans %}</b></a><br />
    <a href="{{ path('editJob',    {idClient: job.client.id, idJob: job.id}) }}"><b>{% trans %}Back to job{% endtrans %}</b></a>
</p>

<p>
    <table id="directory" class="table table-condensed table-bordered table-striped">
        <tr>
            <th colspan="3">{{ realPath }}</th>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Modification date{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>

    {% for file in content %}
      {% if file.0 != "." %}
 	{% if path|length > 1 or ( file.0 != ".." and file.0 != ".") %}
		<tr>

		    <td>

          {% if file.2 %}
		        <a href="{{ path('showJobBackup', {idClient: job.client.id, idJob: job.id , path: path  ~ file.0 ~ '/' , action: 'view'}) }}">
			           <span class="glyphicon glyphicon-folder-open"></span>
                 &nbsp;{{ file.0 }}
            </a>
          {% else %}
            <span class="glyphicon glyphicon-file"></span>&nbsp;{{ file.0 }}
          {% endif %}

		    </td>
		    <td>
		        {{ file.1.format('Y-m-d H:i:s') }}
		    </td>
		    <td>
		        {% if file.0 != ".." and file.0 != "." %}

              {% if file.2 %}
                <a href="{{ path('showJobBackup', {idClient: job.client.id, idJob: job.id, path: path ~ '/' ~ file.0, action: 'download'}) }}"><b>
                  {% trans %}Download as .tgz{% endtrans %}
                </b></a>
                {% if isZipInstalled %}
                &nbsp;|&nbsp;
                <a href="{{ path('showJobBackup', {idClient: job.client.id, idJob: job.id, path: path ~ '/' ~ file.0, action: 'downloadzip'}) }}"><b>
                  {% trans %}Download as .zip{% endtrans %}
                </b></a>
                {% endif %}
              {% else %}
                <a href="{{ path('showJobBackup', {idClient: job.client.id, idJob: job.id, path: path ~ '/' ~ file.0, action: 'download'}) }}"><b>
                  {% trans %}Download{% endtrans %}
                </b></a>
              {% endif %}
            {% endif %}
		    </td>
		</tr>

	{% endif %}
      {% endif %}
    {% endfor %}
</p>

{% endblock %}
