{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{#
 Customizations for
 vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form/
#}
{% block form_row %}
{% spaceless %}
  {% if form.vars.block_prefixes.1 == 'percent' %}
    <div class="form-group has-feedback">
  {% else %}
    <div class="form-group">
  {% endif %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="col-xs-12 col-md-9">
          {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-xs-12 col-md-3')|trim}) %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if required %}
      <span class="required" title="{% trans %}This field is required{% endtrans %}">*</span>
    {% endif %}</label>
{% endspaceless %}
{% endblock form_label %}

{% block percent_widget %}
  {{ block('form_widget_simple') }}
  <span class="form-control-feedback percent">%</span>
{% endblock %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type == 'file' %}
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-elkarbackup btn-file"><span class="glyphicon glyphicon-folder-open"></span> {{ 'Browse'|trans({}, 'BinovoElkarBackup') }}&hellip; <input type="file" {{ block('widget_attributes') }} /></span>
      </span>
      <input type="text" class="form-control" id="visual_{{id}}" readonly>
    </div>

    <script type="text/javascript">
        dojo.connect(dojo.byId('{{id}}'), 'onchange',
                     function() {
                         dojo.byId('visual_{{id}}').value = dojo.byId('{{id}}').value;
                     });
        dojo.connect(dojo.byId('visual_{{id}}'), 'onchange',
                     function(){
                         dojo.byId('{{id}}').value = dojo.byId('visual_{{id}}').value;
                     });
    </script>
    {#
      Show Quota in GB
    #}
    {% elseif id == 'Client_quota' and value > 0 %}
      {% set value = value / 1024 / 1024 %}
      <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value|number_format(2, '.', ',') }}" {% endif %}/>
    {% else %}
      <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }} {{child.vars.label}}<br />
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
<div class="control-group error-top">
    <div class="alert alert-danger">
        {% for error in errors %}
            <p>{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</p>
        {% endfor %}
    </div>
</div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
