{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
<!DOCTYPE html>

{% trans_default_domain 'BinovoElkarBackup' %}

<html>
    <head>
        <title>{% block title %}ElkarBackup{% endblock %}</title>
        <!-- Dojo 1.8.1-->
        <link rel="stylesheet" href="{{ asset('js/dojo-release/dijit/themes/claro/claro.css') }}" media="screen" />

        <!-- Bootstrap 3.3-->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="screen" />

        <!-- @ChristianGR elkarbackup theme -->
        {% stylesheets '@BinovoElkarBackupBundle/Resources/public/css/elkarbackup.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}

        {% block scripts %}
        <script type="text/javascript" src="{{ asset('js/dojo-release/dojo/dojo.js') }}" data-dojo-config="async: true"></script>
            {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/base.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

    </head>
    <body class="login {%if not disable_background %} bg2{% else %} nobg{% endif %}">

                  <div class="container">

                      <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">

                          <h2 class="login-elkarbackup">{% trans %}Backup server login{% endtrans %}</h2>


                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-addon">
                                      <div class="glyphicon glyphicon-user"> </div>
                                  </div>
                                  <input class="form-control" id="username" name="_username" type="text" placeholder="{% trans %}Username{% endtrans %}" required autofocus />
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-addon">
                                      <div class="glyphicon glyphicon-lock"> </div>
                                  </div>
                                  <input type="password" class="form-control" id="password" name="_password" placeholder="{% trans %}Password{% endtrans %}" required />
                              </div>
                          </div>

                          {% if error %}
                          <div class="message">
                              <p class="alert alert-warning">
                                      {{ error.message }}
                              </p>
                          </div>
                          {% endif %}

                          <div class="form-group">
                              <div class="col-sm-8 nopadding language">
                              </div>

                              <div class="col-sm-4 nopadding">
                                  <button class="btn btn-login btn-default btn-block" type="submit"><span class="glyphicon glyphicon-lock"></span> {% trans %}Login{% endtrans %}</button>
                              </div>
                          </div>
                          <div class="row">
                            <div class="version pull-right">
                              <p>v1.2.5</p>
                            </div>
                          </div>
                      </form>

                      {% if alert %}
                      <div></div>
                      <div class="login-alert alert alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ alert | raw }}
                      </div>
                      <div></div>
                      {% endif %}

                  </div>


    </body>
</html>
