{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<h3>{% trans %}Logs{% endtrans %}</h3>

<form action="{{ path('showLogs') }}">
<table id="logs" class="table table-condensed table-hover table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Time{% endtrans %}</th>
        <th style="width: 160px;">{% trans %}Level{% endtrans %}<br />
            {{ filterSelect(levels, {style: "width: 150px;"}) }}</th>
        <th>{% trans %}Source{% endtrans %}<br />
            {{ filterSelect(source, {style: "width: 150px;"}) }}</th>
        <th>{% trans %}User{% endtrans %}</th>
        <th>{% trans %}Message{% endtrans %}</th>
        <th>{% trans %}Object{% endtrans %}<br />
            {{ filterText(object, {style: "width: 150px;"}) }}</th>
    </tr>

    {# table body #}
    {% for logRecord in pagination %}
    <tr class="
    {% if (logRecord.levelName) == 'ERROR'%}danger {% endif %}
    {% if (logRecord.levelName) == 'WARNING'%}warning {% endif %}
		{% if (logRecord.message) == 'OK'%}success {% endif %}
    logs" >

        <td style="white-space: nowrap;">{{ logRecord.dateTime.format('Y-m-d H:i:s') }}</td>
        <td>{{ logRecord.levelName }}</td>
        <td>{{ logRecord.source }}</td>
        <td>{{ logRecord.userName }}</td>
        <td>{{ logRecord.message }}</td>
        <td style="white-space: nowrap;">{% if logRecord.link %}<a href="{{ logRecord.link }}">{{ logRecord.link }}</a>{% endif %}</td>
    </tr>
    {% endfor %}
</table>
</form>
<div class="navigation binovo-pagination">
    {{ knp_pagination_render(pagination)|raw }}
</div>


{% endblock %}
