{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/show-policies.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<div class="row">
<div class="col-md-8 col-md-offset-2 text-centered">
<h3>{% trans %}Policies{% endtrans %}</h3>

{% for flashMessage in app.session.flashbag.get('showPolicies') %}
            <div class="control help-block alert alert-danger">
                <p>{{ flashMessage }}</p>
            </div>
{% endfor %}
<table id="policies" class="table table-condensed table-bordered table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th class="ids">{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        {% if is_granted('ROLE_ADMIN') %}
        <th>{% trans %}Actions{% endtrans %}</th>
        {% endif %}

    </tr>

    {# table body #}
    {% for policy in pagination %}
    <tr>
        <td class="ids"><a href="{{ path('editPolicy', {id: policy.id}) }}">{{ policy.id }}</a></td>
        <td>{{ policy.name }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td class="actions">
              <form action="{{ path('editPolicy', {id: policy.id}) }}" style="display:inline">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %} </button>
              </form>
              <form data-bnv-message="{% trans with {'%name%': policy.name} %}Really delete policy %name%?{% endtrans %}" class="delete-policy" action="{{ path('deletePolicy', {id: policy.id}) }}" method="POST" style="display:inline">
                <button class="btn btn-default btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> {% trans %}Delete{% endtrans %} </button>
              </form>
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% if is_granted('ROLE_ADMIN') %}
<button class="btn btn-default pull-right" type="button" onclick="document.location.href='{{ path('editPolicy', {id: 'new'}) }}'"><span class="glyphicon glyphicon-plus"></span> {% trans %}New{% endtrans %}</button>
{% endif %}

{# display navigation #}
<div class="navigation binovo-pagination">
    {{ knp_pagination_render(pagination)|raw }}
</div>
</div>
</div>


{% endblock %}
