{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<div class="pull-right" style="margin-top: 40px;">
  <button class="btn btn-elkarbackup" onclick="window.location.href='{{path('downloadScript', {id: form.vars.value.id}) }}'"><span class="glyphicon glyphicon-download-alt"></span> {% trans %}Download{% endtrans %}</button>
</div>
<form class="form-horizontal" action="{{ path('saveScript', {id: form.vars.value.id}) }}" method="post" {{ form_enctype(form) }}>
    <h3>{% trans %}Edit script{% endtrans %}</h3>
    <div class="row">
        <div class="col-md-6">
{% for flashMessage in app.session.flashbag.get('editScript') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
{% endfor %}
            {% form_theme form 'BinovoElkarBackupBundle:Default:fields.html.twig' %}
            <div class="controls">
            </div>
            {{ form_widget(form) }}
            <div class="control-group">
                <label class="control-label" >

                </label>
                <div class="controls">
{% if form.vars.value.isUsed %}
                    {% trans %}<h4 style="margin-bottom: 0px;">Used by</h4>{% endtrans %}
    {% for client in form.vars.value.postClients %}
                    <br><a href="{{ path('editClient', {id: client.id}) }}">{% trans with {'%name%': client.name} %}Client %name% as post script{% endtrans %}</a>
    {% endfor %}
    {% for client in form.vars.value.preClients %}
                    <br><a href="{{ path('editClient', {id: client.id}) }}">{% trans with {'%name%': client.name} %}Client %name% as pre script{% endtrans %}</a>
    {% endfor %}
    {% for job in form.vars.value.postJobs %}
                    <br><a href="{{ path('editJob', {idClient: job.client.id, idJob: job.id}) }}">{% trans with {'%name%': job.name} %}Job %name% as post script{% endtrans %}</a>
    {% endfor %}
    {% for job in form.vars.value.preJobs %}
                    <br><a href="{{ path('editJob', {idClient: job.client.id, idJob: job.id}) }}">{% trans with {'%name%': job.name} %}Job %name% as pre script{% endtrans %}</a>
    {% endfor %}
{% else %}
    {% trans %}Currently not used{% endtrans %}
{% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-elkarbackup pull-right" type="submit" value="{% trans %}Save{% endtrans %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% trans %}script_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
