{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/show-scripts.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<div class="row">
<div class="max10" >
<h3>{% trans %}Scripts{% endtrans %}</h3>

{% for flashMessage in app.session.flashbag.get('showScripts') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
{% endfor %}

<table class="table table-condensed table-bordered table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Description{% endtrans %}</th>
        {% if is_granted('ROLE_ADMIN') %}
          <th>{% trans %}Actions{% endtrans %}</th>
        {% endif %}

    </tr>

    {# table body #}
    {% for script in pagination %}
    <tr>
        <td onclick="document.location.href='{{ path('editScript', {id: script.id}) }}'" class="ids"><a href="{{ path('editScript', {id: script.id}) }}">{{ script.id }}</a></td>
        <td>{{ script.name }}</td>
        <td>{{ script.description }}</td>
        {% if is_granted('ROLE_ADMIN') %}

        <td class="actions" style="width:20%; text-align: center">



          <form action="{{ path('editScript', {id: script.id}) }}" style="display:inline">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %} </button>
          </form>
          <form data-bnv-message="{% trans with {'%name%': script.scriptname} %}Really delete script %name%?{% endtrans %}" class="delete-script" action="{{ path('deleteScript', {id: script.id}) }}" method="POST" style="display:inline">
            <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId: 'btnDeleteScriptDisabled'">
                    {% trans %}This script is used by some client or job{% endtrans %}
            </div>
            <div class="btn-group inline" {% if script.isUsed %}id="btnDeleteScriptDisabled"{% endif %}>
              <button class="btn btn-default btn-danger" type="submit" {% if script.isUsed %} disabled="True"{% endif %}><span class="glyphicon glyphicon-trash"></span> {% trans %}Delete{% endtrans %} </button>
            </div>
          </form>
        </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% if is_granted('ROLE_ADMIN') %}

<button class="btn btn-default pull-right" type="button" onclick="document.location.href='{{ path('editScript', {id: 'new'}) }}'"><span class="glyphicon glyphicon-plus"></span>  {% trans %}New{% endtrans %}</button>

{% endif %}

{# display navigation #}
<div class="navigation binovo-pagination">
    {{ knp_pagination_render(pagination)|raw }}
</div>
</div>
</div>


{% endblock %}
