{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<div class="pull-right" style="margin-top: 40px;">
  <button class="btn btn-elkarbackup" onclick="window.location.href='{{path('downloadScript', {id: form.vars.value.id}) }}'"><span class="glyphicon glyphicon-download-alt"></span> {% trans %}Download{% endtrans %}</button>
</div>
<form class="form-horizontal" action="{{ path('saveScript', {id: form.vars.value.id}) }}" method="post" {{ form_enctype(form) }}>
    <h3 id="legend">{% trans %}Edit script{% endtrans %}</h3>
    <div class="row">
        <div class="col-md-6">
{% for flashMessage in app.session.flashbag.get('editScript') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
{% endfor %}
            {% form_theme form 'BinovoElkarBackupBundle:Default:fields.html.twig' %}
            <div class="controls">
            </div>
	     <div class="form-group">
	     <label class="required control-label col-xs-12 col-md-3">{% trans %}Name{% endtrans %}</label><div class="col-xs-12 col-md-9"> {{ form_widget(form.name) }}</div></div>
	     <div class="form-group">
	     <label class="control-label col-xs-12 col-md-3">{% trans %}Description{% endtrans %}</label><div class="col-xs-12 col-md-9"> {{ form_widget(form.description) }}</div></div>
	     <div class="form-group">
	     <label class="required control-label col-xs-12 col-md-3">{% trans %}File{% endtrans %}</label><div class="col-xs-12 col-md-9"> {{ form_widget(form.scriptFile) }}</div></div>
		<h3>Run as</h3>

<div class="container-fluid">
    <div class="row">
     <div class="col-md-4">Run as</div>
     <div class="col-md-4">Before</div>
     <div class="col-md-4">After</div>
    </div>
    <div class="row">
     <div class="col-md-4">Client</div>
     <div class="col-md-4">{{ form_widget(form.isClientPre) }}</div>
     <div class="col-md-4">{{ form_widget(form.isClientPost) }}</div>
    </div>
    <div class="row">
     <div class="col-md-4">Job</div>
     <div class="col-md-4">{{ form_widget(form.isJobPre) }}</div>
     <div class="col-md-4">{{ form_widget(form.isJobPost) }}</div>
    </div>
  </div>

	     {{ form_widget(form._token) }}
	
            <div class="control-group">
                <label class="control-label" >

                </label>
                <div class="controls">
{% if form.vars.value.isUsed %}
                    <h3 style="margin-bottom: 0px;">{% trans %}Used by{% endtrans %}</h3>
    {% for client in form.vars.value.postClients %}
                    <br><a href="{{ path('editClient', {id: client.id}) }}">{% trans with {'%name%': client.name} %}Client %name% as post script{% endtrans %}</a>
    {% endfor %}
    {% for client in form.vars.value.preClients %}
                    <br><a href="{{ path('editClient', {id: client.id}) }}">{% trans with {'%name%': client.name} %}Client %name% as pre script{% endtrans %}</a>
    {% endfor %}
    {% for job in form.vars.value.postJobs %}
                    <br><a href="{{ path('editJob', {idClient: job.client.id, idJob: job.id}) }}">{% trans with {'%name%': job.name} %}Job %name% as post script{% endtrans %}</a>
    {% endfor %}
    {% for job in form.vars.value.preJobs %}
                    <br><a href="{{ path('editJob', {idClient: job.client.id, idJob: job.id}) }}">{% trans with {'%name%': job.name} %}Job %name% as pre script{% endtrans %}</a>
    {% endfor %}
{% else %}
    {% trans %}Currently not used{% endtrans %}
{% endif %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-elkarbackup pull-right" type="submit" value="{% trans %}Save{% endtrans %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% trans %}script_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
