{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoElkarBackupBundle/Resources/public/js/show-users.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<div class="row">
<div class="max10" >
<h3>{% trans %}Users{% endtrans %}</h3>

<table id="users" class="table table-condensed table-bordered table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Username{% endtrans %}</th>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Active{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>

    {# table body #}
    {% for user in pagination %}
    <tr class="{% if user.isActive == false %}disabled{% endif %}">
        <td onclick="document.location.href='{{ path('editUser', {id: user.id}) }}'" class="ids"><a href="{{ path('editUser', {id: user.id}) }}">{{ user.id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{% if user.isActive %}{% trans %}Yes{% endtrans%}{% else%}{% trans %}No{% endtrans%}{% endif %}</td>
        <td class="actions">
          <form action="{{ path('editUser', {id: user.id}) }}" style="display:inline">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %} </button>
          </form>
          <form data-bnv-message="{% trans with {'%name%': user.username} %}Really delete user %name%?{% endtrans %}" class="delete-user" action="{{ path('deleteUser', {id: user.id}) }}" method="POST" style="display:inline">
            <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId: 'btnDeleteUserDisabled'">
                    {% trans %}Impossible to delete superuser account{% endtrans %}
            </div>
            <div class="btn-group inline" {% if user.isSuperuser() %}id="btnDeleteUserDisabled"{% endif %}>
              <button class="btn btn-default btn-danger" type="submit" {% if user.isSuperuser() %} disabled="True"{% endif %}><span class="glyphicon glyphicon-trash"></span> {% trans %}Delete{% endtrans %} </button>
            </div>
          </form>
        </td>
    </tr>
    {% endfor %}
</table>

<button class="btn pull-right btn-default" type="button" onclick="document.location.href='{{ path('editUser', {id: 'new'}) }}'"> <span class="glyphicon glyphicon-plus"></span> {% trans %}New{% endtrans %} </button>

{# display navigation #}
<div class="navigation binovo-pagination">
    {{ knp_pagination_render(pagination)|raw }}
</div>
</div>
</div>


{% endblock %}
