{% extends 'BinovoTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block scripts %}
    {{ parent() }}
    {% javascripts '@BinovoTknikaBackupsBundle/Resources/public/js/edit-authorized-keys.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<form class="form-horizontal" action="{{ path('configureRepositoryBackupScript') }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Repository backups script{% endtrans %}</legend>
    {% form_theme form 'BinovoTknikaBackupsBundle:Default:fields.html.twig' %}
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <label class="control-label">{% trans %}Backup script{% endtrans %}</label>
                <div class="controls"><input class="btn" onclick="window.location='{{ path('getRepositoryBackupScript') }}'" type="button" value="{% trans %}Download{% endtrans %}" /></div>
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal" action="{{ path('configureRepositoryBackupScript') }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Authorized keys{% endtrans %}</legend>
    <div class="row-fluid">
        <div id="public-keys" class="span6">
            {% for flashMessage in app.session.flashbag.get('backupScriptConfig') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
            {% endfor %}
{% for publicKey in form.publicKeys %}
            <div class="controls">
                {{ form_widget(publicKey.comment) }} {{ form_widget(publicKey.publicKey) }} <input data-command="delete-key" class="btn" type="button" value="{% trans %}Delete{% endtrans %}"/>
            </div>
{% endfor %}
            <div id="no-keys-defined" class="controls"{% if form.publicKeys|length > 0 %} style="display:none"{% endif %}>
                {% trans %}No keys defined{% endtrans %}
            </div>
            <div id="add-key" class="controls">
                <br />
                <input data-command="add-key" class="btn" type="button" value="{% trans %}Add key{% endtrans %}" onclick=""/>
            </div>
            <input class="btn" type="submit" value="{% trans %}Save{% endtrans %}"/>
        </div>
        <div class="span6">
            {% trans %}backupscriptconfig_help{% endtrans %}
        </div>
    </div>
</form>
<div style="display:none" id="prototype">
    <div style="height:0px" class="controls">
        {{ form_widget(form.publicKeys.vars.prototype.comment) }} {{ form_widget(form.publicKeys.vars.prototype.publicKey) }} <input data-command="delete-key" class="btn" type="button" value="{% trans %}Delete{% endtrans %}">
    </div>
</div>

{% endblock %}
