{% extends 'BinovoTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block menu %}
{% endblock %}

{% block body %}

{% for aLocale in supportedLocales %}
<a href="{{path('setLocale', {locale: aLocale[0]})}}">{{ aLocale[1] }}</a>
{% endfor %}

<form action="{{ path('login_check') }}" method="post" class="form-horizontal">
    <legend>{% trans %}Backup server login{% endtrans %}</legend>
    <div class="row">
        <div class="span6">
            <div class="control-group">
    {% if error %}
                <div class="controls">{{ error.message }}</div>
    {% endif %}
            </div>
            <div class="control-group">
                <label for="username" class="control-label">{% trans %}Username:{% endtrans %}</label>
                <div class="controls">
                    <input class="span12" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
            </div>
            <div class="control-group">
                <label for="password" class="control-label">{% trans %}Password:{% endtrans %}</label>
                <div class="controls">
                    <input class="span12" type="password" id="password" name="_password" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn pull-right" type="submit" value="{% trans %}Login{% endtrans %}" />
                </div>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}
