{% extends 'BinovoTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

{% if not showKeyDownload %}
<form action="{{ path('generatePublicKey') }}" id="generateKey" method="post">
{% endif %}
</form>
<form class="form-horizontal" action="{{ path('manageParameters') }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Manage parameters{% endtrans %}</legend>
    <div class="row-fluid">
        <div class="span6">
            {% for flashMessage in app.session.flashbag.get('manageParameters') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% form_theme form 'BinovoTknikaBackupsBundle:Default:fields.html.twig' %}
            <div>
                <div class="control-group">
                    <label class="control-label">{% trans %}Public key{% endtrans %}</label>
                {% if showKeyDownload %}
                    <div class="controls"><input class="btn" onclick="window.location='{{ path('downloadPublicKey') }}';" type="button" value="{% trans %}Download{% endtrans %}" /></div>
                {% else %}
                    <div class="controls"><input class="btn" onclick="dojo.byId('generateKey').submit()" type="button" value="{% trans %}Generate{% endtrans %}" /></div>
                {% endif %}
                </div>
                {{ form_widget(form) }}
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn" type="submit" value="{% trans %}Save{% endtrans %}"/>
                </div>
            </div>
        </div>
        <div class="span6">
            {% trans %}params_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
